.footer-area {
    position: relative;
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 0;
}

.footer-widget{
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

.footer-logo{
    display: block;
    margin-bottom: 30px;
}

.footer-widget p{
    @extend %p;
    padding-right: 30px;
}
.copywrite-text {
    position: relative;
    z-index: 1;
}
.copywrite-text p {
    @extend %p;
    padding-right: 40px;
}

.copywrite-text p a{
    text-decoration: none;
    color: $secondary;
}

.copywrite-text p a:hover{
    color: $bgr-color;
    cursor: pointer;
}

.footer-time-widget{
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}
.widget-title{
    font-size: 24px;
    color: $gray-black;
    margin-bottom: 30px;
    display: block;
    text-transform: capitalize;
}
.footer-time-widget .open-time p {
    margin-bottom: 8px;
    @extend %p;
}
.footer-time-widget .open-time p:last-child {
    margin-bottom: 0;
    @extend %p;
}

.social-info{
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.footer-time-widget .social-info a {
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
}

.footer-time-widget .social-info a.facebook {
    background-color: $dark-purple;
}
.footer-time-widget .social-info a.twitter {
    background-color: $info;
}
.footer-time-widget .social-info a.google-pl {
    background-color: $red;
}
.footer-time-widget .social-info a.instagram {
    background-color: $blue;
}

.footer-time-widget .social-info a:hover{
    color:white;
    cursor: pointer;
    background-color: $bgr-color;
}



.footer-time-widget .contact-address p {
    margin-bottom: 8px;
    @extend %p;
}
.footer-time-widget .contact-address p:last-child {
    margin-bottom: 0;
}