#scollup {
    position: fixed;
    right: 40px;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    bottom: 40px;
    background-color: $bgr-color;
    color: $white;
    text-align: center;
    border-radius: 50%;;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    z-index: 10000;
    display: block;
    transition:10s ease;
}

#scollup:hover {
    background-color:$black;
    color: $white;
    transform: scale(1.2);
    scroll-behavior: smooth;
    // scroll-margin-top: 100vh;
}