
.single-welcome-slide{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 720px;
    background-color: #ffffff;
}

.single-welcome-slide .welcome-text {
    position: relative;
    z-index: 1;
}

.welcome-text{
    width: 570px;
    padding: 0 24px;
}

.single-welcome-slide .welcome-text h2 {
    font-size: 72px;
    display: block;
    margin-bottom: 30px;
    color: #252525;
    font-family: "Playfair Display", serif;
    color: #252525;
    line-height: 1.3;
    font-weight: 400;
}
.single-welcome-slide .welcome-text p {
    font-size: 20px;
    color: #252525;
    margin-bottom: 50px;
    display: block;
    line-height: 1.7;
    font-weight: 400;
}


.welcome-text .akame-btn:hover
{
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    background-color:#bca858 ;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
