.h-100{
    height: 100%!important;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.akame-btn{
    position: relative;
    z-index: 1;
    min-width: 150px;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 0 35px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 60px;
    font-family: "Playfair Display", serif;   
    text-decoration: none;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-item-center{
    align-items: center!important;
}

.col{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.active-about{
    border-color: $bgr-color !important;
    background-color: $bgr-color !important;
    color: $white;
}
.about-us-content .akame-btn:hover{
    border-color: $gray-black !important;
    background-color: $gray-black !important; 
    color: $white;
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.choose-heading{
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.section-heading h2 {
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: block;
    line-height: 1.2;
}

.size-img255{
    width: 255px;
    height: 255px;
}
.paddingtop-80{
    padding-top: 80px;
    padding-bottom:0;
}

.justify-content-end{
    justify-content: flex-end;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

// .col-sm-6 {
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
// }
.col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.margin-left-30{
    margin-left:20px;
}

.margin-top-230{
    margin-top: 230px;
}
.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%section-are{
    position: relative;
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 0;
    display: block;
}

%section-heading{
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    text-align: center;
    display: block;
}

%heading-h2{
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: block;
    line-height: 1.2;
    color: #252525;
    font-family: "Playfair Display", serif;
}

%heading-p{
    line-height: 1.7;
    color: $secondary;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}
%p{
    line-height: 1.7;
    color: $secondary;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}


.mr-16{
    margin-right: 16px;
}

.justify-content-between{
    display: flex;
    justify-content: space-between;
}
////
/// 
/// 
/// 
/// 
/// 
/// color

$blue: #057ad7;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

// --------------------
$dark-purple:#4b62b3;
$info:#03baeb;
$blue: #057ad7;
$red: #cb242e;
$white-bland:#e5e5e5;
$gray-bland:#acacac;
$color-nav:#f2f4f8;
$white: #ffffff;
$light: #f6f9f9;
$dark: #343a40;
$secondary:#6e6e6e;
$black:#000000;
$gray-black:#252525;
$bgr-color:#bca858;