@import 'variable';
@import 'header';
@import 'slides';
@import 'aboutus';
@import 'service';
@import 'chosse';
@import 'ourwork';
@import 'outexpert';
@import 'blog';
@import 'book';
@import 'footer';
@import 'scollup';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* ::after, ::before {
    box-sizing: border-box;
}
html {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    z-index: auto;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: #252525;
    line-height: 1.3;
    font-weight: 400;
}
body{
    font-family: "Playfair Display", serif;

}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    width: 1600px;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 75%;
    max-width: 100rem;
}

