.header {
  height: 1200px;
  z-index: 10;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(11, 29, 38, 0), #0B1D26);

}

header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.header__logo span {
  font-family: 'ChronicleDisplayBlack';
  font-size: 32px;
}

.header__nav ul {
  display: flex;
}

.header__nav li {
  font-family: "Gilroy";
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.76px;
  cursor: pointer;
}