* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    width: 1600px;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 100rem;
}
header{
    height: 800px;
    width: 100%;   
}

.header-top{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100px;
}
.header-top_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top_lg{
    display: flex;
    height: 41px;
    width: 41px;
    color: white;
    background-color: #458FF6;;
    border-radius: 41px;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.header-top_P{
    float: left;
    font-weight: 700;
    font-size: 24px;
    color: #233348;
}

.header-top_P--outline{
    background-color: white;
    color: #5B9BF3;
}
.header-top .header-top_nav {
    justify-content: flex-end;
    display: flex
}
.header-top_nav-menu li{
    float: left;
    list-style-type: none;
    margin-left: 40px;
    font-size: 18px;
}

.header-top_nav-menu li a{
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}
.header-bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.header-bottom_img {
    width: 693px;
    height: 598px;
    position: absolute;
    right: 0;
}

.header-bottom_text{
    width: 420px;
    margin-top: 130px;
    position: absolute;
    left: 0;
}


.header-bottom_text h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 23px;
}

.header-bottom_text p{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    margin-bottom: 45px;
}

.btn{
    padding: 16px 39px;
    border-radius: 55px;
    background-color: #458FF6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: block;
    border: none;
}

.btn--outline{
    background-color: white;
    color: #458FF6;
    border: 1px solid;
}

.btn--primary{
    background-color: #458FF6;
    color: white;
    border: none;
}

.header-bottom_element{
    position: absolute;
    top: 0;
    left: -200px;
    display: block;
}

.clear{
    clear: both;
}

.Download-our-mobile-apps{
    max-width: 100%;
}