// ======================================================
// Abstracts :: Variables
// ======================================================
// Colors
$white: #FFFFFF;
$black: #5e6666;


$text-blue1:#506690;
$text-blue2:#869ab8;

$heading-black1:#161C2D;

$bg-gray:#F1F4F8;
$bg-blue2:#1B2A4E;
$bg-white:#FFFFFF;

$primary-blue: #335eea;
$primary-green: #42ba96;

$font-family-base: 'Poppins',sans-serif;

// Breakpoints
$breakpoints: (xs: 480px,
  sm: 767px,
  md: 1023px,
  lg: 1200px);